extends header

block content
    .container.pushTop
        .col-xs-12.col-sm-12.col-md-6.col-lg-4
            h3 My Education

            p.
              I'm a student in Master of Science in Computer and Electrical engineering at Blekinge Tekniska Högskola (BTH) located in southern Sweden.
              At this program I've taken several math, programming and leadership courses.

              From my point of view the most important are:

              #[li Software Design]
              #[li Programming in C++]
              #[li Mathematical Statistics]
              #[li Computer Organization]
              #[li Software Quality Management]
              #[li Software Project Management]
              #[li Data Structures and Algorithms]

            p.

              Which have taught me the importance of code structure, quality and measurements.
              From here I found a lot of material to work with and could explore more computer languages
              and create more fun things in code!

        .col-xs-12.col-sm-12.col-md-6.col-lg-4
          img(src='../img/python-logo@2x.png' , width='100%')
          img(src='../img/so-logo.png' , width='50%')
          img(src='../img/docker.png', width='50%')

        .col-xs-12.col-sm-12.col-md-6.col-lg-4
            h3 Knowing the code

            p.
              I like to work in Python in combination with a text editor such as Atom.
              There is really no reason to hate or love a specific language, as they all excel in different areas.
              Depending on what should be solved, different techniques can be applied to solve it.
            p.
              In my experience it is more important to understand data flows and the task at hand, than to have
              good understanding of a specific language. As long as you have the right
              mindset and is of an investigating nature I believe that the problem can be solved easier.
