doctype html(lang='sv')

head
  title #{title}
  meta(charset = 'utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(rel = 'stylesheet', href = 'stylesheets/bootstrap.min.css')
  link(rel = 'stylesheet', href = 'stylesheets/style.css')

  base(href='/')
  script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script(src = 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
  script(src = 'javascript/menu.js')
  script.
    var selected = '#{selected}'
body

  .wrapper
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#NAVBAR')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Hallb.org

        #NAVBAR.collapse.navbar-collapse

          ul#mainMenu.nav.navbar-nav
            li
              a(href = '/') Start
            li
              a(href = '/utbildning') Education
            li
              a(href = '/portfolio') Working experience
            li
              a(href = '/server') This website
          ul.nav.navbar-nav.navbar-right
            li
              a.hover(style='color:#00B7FF', href = "http://www.github.com/hallborg") Github
            li
              a(style='color:#00B7FF', href = "https://gitlab.com/u/Laban") Gitlab
            li
              a(style='color:#00B7FF', href = "https://se.linkedin.com/pub/jesper-hallborg/a8/b74/aa1") LinkedIn
    block content
