extends header

block content
  .container.pushTop
    .col-sx-12.col-sm-8.col-md-8
      article
          header
              h3 Jesper hallborg
          p.
              I'm studying computer science at Blekinge Tekniska Högskola.
              The interest for computers started when I started to play games and
              that evolved into how computers function and what software can do.
              Since I started programming I've starting to get more and more into testing
              and deployment. I find #[font(color='#0ed40e') continuous integration] and #[font(color='#0ed40e') continuous deployment] fun and rewarding,
              and is a ambition of mine to work with in the future.

          hr
          p.
              This site has two functions. Firstly, I get to introduce myself and I also
              get knowledge about how to do websites and learn even more languages and tools.
              From here on you can inspect my education and working experience in the field
              and of cource information about how I build and maintain this website!
          hr
          p.
           TL;DR? - jump to my linkedin page and git repos using the links in the upper right corner.
    .col-xs-12.col-sm-4.col-md-4
      figure
        img(src = '../img/me2.jpg' width='100%' alt = "pic of Jesper")
