extends header

block content
    .container.pushTop
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            h3 Working experience in the industry
            p.
              I have worked with mainly three companies to develop software.
              Those are #[a(href="http://www.softhouse.se") Softhouse],
              #[a(href="http://www.ericsson.com") Ericsson] and #[a(href="http://qvantel.com") Qvantel]. All three of them in Karlskrona.
        .col-xs-12.col-sm-12.col-md-4.col-lg-4
            br
            br
            img(src='../img/softhouse_logotyp.png', width='70%')
            br
            br
            p.
              At Softhouse I worked in a scrum team of 5 developers on a
              student project. We worked on a prototype to be able to collect time stamped data
              and to display it in graphs. Our backend was Nodejs together with a #[font(color='blue') MySQL] database and #[font(color='blue') InfluxDB].
              The frontend was javascript and html + css.

              #[li RESTful API in Nodejs]
              #[li Simulating data flows]
              #[li Connections between database - server - client]
              #[li webdesign (frontend)]
              #[design of relational database]
              #[design of timeseries database]

        .col-xs-12.col-sm-12.col-md-4.col-lg-4
            img(src='../img/ericsson-logo.jpg', width='70%')
            p.
              With Ericsson I worked on a small project of two developers.
              Here I worked mainly in python to collect data for Ericsson 3PPs.
              Other languages and tools used was html, #[font(color='blue') MySQL] and maven.

                #[li RESTful API in python with flask]
                #[li webdesign (frontend)]
                #[li maven application]
                #[li design of relational database]

        .col-xs-12.col-sm-12.col-md-4.col-lg-4
            br
            br
            img(src='../img/qvantel-logo.jpg', width='50%')
            br
            br
            br
            p.
              Revenue management was the focus for me at Qvantel.
              Here the data flows between many different components where
              various processing is done. I worked with the backend on Scala components
              and the #[font(color='blue') Cassandra] database storage.

              #[li RESTapi in scala]
              #[li JSON and csv data management]
              #[li Cassandra clustering]
