extends header

block content
  .container.pushTop
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      article
          p.
            Now then, what have I used to build this fancy webpage. The hardware is
            a Raspberrypi 3 running debian, which I also use as a github-runner and
            hosting another webpage (pernillashälsa.se).

            hr
          p.
            I'm using #[a(href = 'http://www.citynetwork.se') citynetworks] DNS-server
            to handle the trafic from hallb.org to the correct ip-address. When the request is recieved nginx is setup
            to forward it to the correct port.
          hr
          p.
            The webserver is build on expressjs, which is built on #[a(href = 'http://nodejs.com') nodejs].
            As it is written in javascript it simplifies the transaction between client and server side as, me as adeveloper,
            don't have to swap languages. To simplify writing html pages I write templates with Jade as the engine. Can be tricky some
            times, but I really don't like cluttery html-tags.
          hr
          p.
            However, the most fun part comes now! This code is located on gitlab together with
            a dockerfile. On every update to the master branch a job is queued and sent to the gitlab-runner,
            (this metal). It builds and contain the code and deploys it here as a docker container. The whole process takes about 10 minuties, but
            is fully automated and I Love it.
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      article
        figure.col-sm-12.col-md-12.col-lg-12
          p.col-sm-6.col-md-6.col-lg-6
            #[img(src = '../img/nginx.png', alt = ' a picture of nginx logo', width = '80%')]
          p.col-sm-6.col-md-6.col-lg-6
            #[img(src = '../img/nodejs.png', alt = 'a picture of nodejs logo', width = '80%')]

        figure.col-sm-12.col-md-12.col-lg-12
          p.col-sm-6.col-md-6.col-lg-6
            #[img(src = '../img/jade.svg', alt = ' a picture of Jade logo')]
